<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="product2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Avenir+Next:wght@300&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Halcom&display=swap">

    <title>Project 2</title>
    
</head>
<body>
    <div class="description">
        <h1>Keeping Warm</h1>
        <p>One of the main energy loss areas in a house - windows. The concept idea is to create a revolving system that will prevent direct contact between inside and outside, so the heat is unable to travel freely.
        The design should consist of a revolving window with air pockets that lock the air preventing the cooling of the house. Only certain amount of air, which fits in a pocket, should be transferred at a steady rate, so not much heat will be lost.
        To harvest energy from the outside, the window should serve as a turbine. </p>
    </div>
    <a href="../index.html" class="back-button">Back to Home</a>
    <div class="photos">
        <img src="1..png" alt="Photo 1">
        <img src="2..png" alt= "Photo 2">
        <img src="3..png" alt="Photo 3">

        <div class="description2">
            <p> LV 2023 </p>
        </div>
</body>
</html>
