<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Avenir+Next:wght@300&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Halcom&display=swap">
   
    <title>Canvas</title>
    <link rel="stylesheet" href="product1.css">
</head>
<body>
    <header>
        <img class="logo" src="../assets/vlaneipad pinkshadow.png" alt="Your Logo">
        <a href="../index.html" class="back-home">Back Home</a>
        <h1 class="product-title">CANVAS BAG</h1>
    </header>    

    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="canvas.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="p1photo2.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="p1photo3.jpg" style="width:100%">
        </div>

        <!-- Add more slides as needed -->

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="description">
        <h2>￡48.00</h2>
        <p>Canvas crossbody bag. 40x41</p>
    </div>

    <button class="checkout" onclick="checkout('CANVAS BAG', 'Canvas crossbody bag. 40x41', 48.00)">Checkout</button>
    
    <div class="description2">
        <p> LV 2023 </p>
    </div>

    <script src="script.js"></script>
</body>
</html>
